################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MyPractices
/Databaseoperations/bin/Debug/netstandard2.0
/Databaseoperations/obj
/Math/bin/Debug/netstandard2.0
/Math/obj
/MyPractices/bin/Debug
/MyPractices/obj/Debug
/Process/bin/Debug/netstandard2.0
/Process/obj
/Numbers/obj
/Numbers/bin/Debug/netstandard2.0
/LoginForms/bin/Debug/netstandard2.0
/LoginForms/obj
/StudentLogin/bin
/StudentLogin/obj/Debug
/UserLoginProcess/bin
/UserLoginProcess/obj/Debug
/DataService/obj
/Repository/obj
/Student Attendance Management System/bin
/Student Attendance Management System/obj/Debug
/packages/EntityFramework.6.2.0
