
@model StudentAttendenceManagementProject.Models.StudentModel

@{

}

<h2>LoginView</h2>
<b>UserName:</b>&nbsp;&nbsp;&nbsp;&nbsp;@Html.TextBox("UserName")
<br />
<br />
<br />
<b>Password:</b>&nbsp;&nbsp;&nbsp;&nbsp;@Html.TextBox("Passord")
<br />
<br />
<br />
<b>Role:</b> &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @Html.TextBox("Role")
<br />
<br />
<br />

<button type="submit" > Login </button>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.ActionLink("Register", "Register", "Registration",null,null);
