<!DOCTYPE html>
@{
    ViewBag.Title = "Login";
}

<div id="form">

    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <center>
        <style>
            .aligncenter {
                text-align: center
            }

            body {
                height: 100%;
                width: 100%;
                margin: auto;
                opacity: 0.5;
                background-image: url('Image/micah-williams-lmFJOx7hPc4-unsplash.jpg');
                background-repeat: no-repeat;
                background-size:cover;
                background-attachment: fixed;
                background-position: center;
            }
        </style>
            
        <td>UserName:</td>
        <td>
            <input type="text" name="Un" required='true' />
        </td>
        <br />
        <br />
        <br />
        <br />
        <td>Password:</td>
        <td>
            <input type="text" name="Pwd" required='true' />
        </td>
        <br />
        <br />
        <br />
        <br />
        <td>Role:</td>
        <td>
            <input type="text" name="Rol" required='true' />
        </td>
        <br />
        <br />
        <br />
        <br />
        <input type="submit" value="Login" />
        @Html.ActionLink("Register", "Register", "Registration")
        <br />
        <br />
        <br />
        <br />
        </center>

    }

</div>
