@model StudentAttendenceManagementProject.Models.StudentModel
@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm("Index", "Home",FormMethod.Post))
{
    <td>UserName:</td>
    <td>
        @Html.TextBoxFor(m => m.Un)
    </td>
    <tr />
    <tr />
    <tr />
    <td>Password:</td>
    <td>
        @Html.TextBoxFor(m => m.Pwd)
    </td>
    <tr />
    <tr />
    <tr />
    <td>Role:</td>
    <td>
        @Html.TextBoxFor(m => m.Rol)
    </td>
    <tr />
    <tr />
    <tr />
    <input type="submit" value="Login" />
    <input type="button" value="Register" onclick="@("window.location.href='"+@Url.Action("Register","Registration")+"'");" />

}
