
@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm("Index", "Home",FormMethod.Post))
{
    <td>UserName:</td>
    <td>
        @Html.TextBox("Un")
    </td>
    <tr />
    <tr />
    <tr />
    <br />
    <td>Password:</td>
    <td>
        @Html.TextBox("Pwd")
    </td>
    <tr />
    <tr />
    <tr />
    <br />
    <td>Role:</td>
    <td>
        @Html.TextBox("Rol")
    </td>
    <tr />
    <tr />
    <tr />
    <br />
    <input type="submit" value="Login" />
    <input type="button" value="Register" onclick="@("window.location.href='"+@Url.Action("Register","Registration")+"'");" />

}
