
@model StudentAttendenceManagementProject.Models.StudentModel

@{

}

<h2>LoginForm</h2>
<b>UserName:</b>&nbsp;&nbsp;&nbsp;&nbsp;@Html.TextBoxFor(student=>student.UserName)
<br />
<br />
<b>Password:</b>&nbsp;&nbsp;&nbsp;&nbsp;@Html.TextBoxFor(student=>student.Password)
<br />
<br />
<br />
<b>Role:</b> &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @Html.TextBoxFor(student=>student.Role)
<br />
<br />
<br />
<input type="button" name="Btn1" value="Login"  />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.ActionLink("Register", "Register", "Registration",null,null);
