
@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
         <td>UserName:</td>
            <td>
                <input type="text" name="Un" required='true' />
            </td>
            <br />
            <br />
            <br />
            <br />
            <td>Password:</td>
            <td>
                <input type="text" name="Pwd" required='true' />
            </td>
            <br />
            <br />
            <br />
            <br />
            <td>Role:</td>
            <td>
                <input type="text" name="Rol" required='true' />
            </td>
            <br />
            <br />
            <br />
            <br />
            <input type="submit" value="Login" />
            @Html.ActionLink("Register", "Register", "Registration")
            <br />
            <br />
            <br />
            <br />
           
   
}
