
@{
    ViewBag.Title = "Programs";
}
<form>
    <fieldset>
        <legend>Choose Your Programs</legend>
        <div>
            <input type="checkbox" id="Programs" name="P1" value="String Reverse" onclick="onlyone(this)">
            <label for="Programs">String Reverse</label>
        </div>
        <div>
            <input type="checkbox" id="Programs" name="P2" value="String Palindrome">
            <label for="Programs">String Palindrome</label>
        </div>
    </fieldset>
</form>
 
