
@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm("Register", "Registration", FormMethod.Post))
{
    <td>StudentName:</td>
    <td>
        @Html.TextBox("Sn")
    </td>
    <br />
    <br />
    <br />
    <br />
    <td>UserName:</td>
    <td>
        @Html.TextBox("Un")
    </td>
    <br />
    <br />
    <br />
    <br />
    <td>Password:</td>
    <td>
        @Html.TextBox("Pwd")
    </td>
    <br />
    <br />
    <br />
    <br />
    <input type="submit" value="Register" />
    @Html.ActionLink("Login", "Index", "Home")
    <br />
    <br />
    <br />
    <br />
    
}   