
@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm("Register", "Registration", FormMethod.Post))
{
    <td>StudentName:</td>
    <td>
        <input type="text" name="Sn" required='true' />
    </td>
    <br />
    <br />
    <br />
    <br />
    <td>UserName:</td>
    <td>
        <input type="text" name="Un" required='true' />
    </td>
    <br />
    <br />
    <br />
    <br />
    <td>Password:</td>
    <td>
        <input type="text" name="Pwd" required='true' />
    </td>
    <br />
    <br />
    <br />
    <br />
    <input type="submit" value="Register" />
    @Html.ActionLink("Login", "Index", "Home")
    <br />
    <br />
    <br />
    <br />
    
}   