@model StudentAttendenceManagementProject.Models.StudentModel
@{
    ViewBag.Title = "Staff";
}

<h2>StaffPage</h2>
<br />
<br />
<br />
<b>StudentName:</b>&nbsp;&nbsp;&nbsp;&nbsp;@Html.TextBox("StudentName")
<br />
<br />
<br />
<b>AttendedDays:</b>&nbsp;&nbsp;&nbsp;&nbsp;@Html.TextBox("AttendedDays")
<br />
<br />
<br />
<button type="submit"> Update </button>


