
@{
    ViewBag.Title = "LoginView";
}

<h2>LoginView</h2>
<b>UserName:</b>@Html.TextBox("UserName")
<b>Password:</b>@Html.TextBox("Passord")
<b>Role:</b>@Html.TextBox("Role")
<button type="submit">Login</button>
